<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>AnyCopy: What you copy is what you save</title>
    <link href="css/todos.css" media="all" rel="stylesheet" type="text/css"/>
    <script src="http://code.jquery.com/jquery-2.0.3.min.js"></script>
    <script src="js/underscore.js"></script>
    <script src="http://www.parsecdn.com/js/parse-1.2.13.min.js"></script>
    <script src="js/todos.js"></script>
  </head>

  <body>

    <!-- Todo App Interface -->
    <div class="nav">
      <h1><a href="#"><img src="images/ico.png" alt="AnyCopy"></a></h1>
    </div>

    <div id="todoapp">
      <div class="content">
      </div>
    </div>
    <!-- Templates -->

    <script type="text/template" id="login-template">

        <div class="login">
        <form class="login-form">
          <h2>Login</h2>
          <div class="error" style="display:none"></div>
          <input type="text" id="login-username" placeholder="User name:" />
          <input type="password" id="login-password" placeholder="Password:" />
          <button>Login</button>
        </form>

        <form class="signup-form">
          <h2>Sign Up</h2>
          <div class="error" style="display:none"></div>
          <input type="text" id="signup-username" placeholder="User name:" />
          <input type="password" id="signup-password" placeholder="Password:" />
          <button>Sign Up</button>
        </form>
      </div>
      <div class="adv">
        <div class="erweima"><img src="images/123.jpg" alt=""></div>
        <p class="adv_txet">Tony : No matter which app you are using, for example, Facebook, Twitter, Google+ or even surfing on the Internet on your device, whenever you meet some information that matters to you, all you have to do is to copy it and it will be saved to AnyCopy and synced to Cloud automatically. You will never ever miss anything that matters to you.</p>
      </div>
    </script>

    <script type="text/template" id="manage-todos-template">
      <div id="user-info">
        User name： <%= Parse.User.current().escape("username") %> (<a href="javascript:;" class="log-out">Log Off</a>)
      </div>

      <div class="section">

        <header id="header">

          <button class="add_cont">New Note</button>
        </header>

        <div id="main">
          <input id="toggle-all" type="checkbox">
          <label for="toggle-all">Select All</label>
          <ul id="todo-list">
            <img src='images/spinner.gif' class='spinner' />
          </ul>
        </div>

        <div id="todo-stats"></div>
      </div>
      <div class="write">
        <button class="save_cont">Save</button>
          <input type="text" class="title" id="new-todo"/>
        <textarea class="write_cont"></textarea>
      </div>
    </script>

    <script type="text/template" id="item-template">
      <li class="<%= done ? 'completed' : '' %>">
	<div class="view">
	  <input class="toggle" type="checkbox" <%= done ? 'checked="checked"' : '' %> />
	  <label class="todo-content"><%= _.escape(content) %></label>
	  <button class="todo-destroy"></button>
	</div>
	<input class="edit" value="<%= _.escape(content) %>">
      </li>
    </script>

    <script type="text/template" id="stats-template">
      <footer id="footer">
	<span id="todo-count"><strong><%= remaining %></strong> <%= remaining == 1 ? 'note' : 'notes' %> created</span>
	<ul id="filters">
	  <li>
	    <a href="javascript:void(0)" id="all" class="selected">Home</a>
	  </li>
	  <li>
	    <a href="javascript:void(0)" id="active">Delete selected notes</a>
	  </li>
	  <li>
	    <a href="javascript:void(0)" id="completed">Trash  Bin</a>
	  </li>
	</ul>
	<button id="clear-completed">Clear Selected (<%= done %>)</button>
      </footer>
    </script>

  </body>

</html>
